[2021-01-09 01:03] rnjudge opened #3 "Support to validate SPDX JSON documents?"
I don't see support to validate SPDX JSON documents with the current tooling. Is there tooling support available for this currently that I am overlooking or is this coming in the future?

[2021-01-09 02:37] goneall commented on #3
@rnjudge The [Verify class](https://github.com/spdx/tools-java/blob/master/src/main/java/org/spdx/tools/Verify.java) should support JSON documents.  Let me know if you're having any issues verifying the JSON documents.

[2021-01-09 03:54] rnjudge commented on #3
Hi @goneall I pulled the jar file from [here](https://github.com/spdx/tools/releases/tag/v2.2.4) and ran it on my Mac. I used the command
`java -jar spdx-tools-2.2.4-jar-with-dependencies.jar Verify spdx_example.json`
but got the following error:
[code]

The error doesn't seem to be unique to my document, however, as I ran the [example](https://raw.githubusercontent.com/spdx/spdx-spec/master/examp

[2021-01-09 18:34] goneall commented on #3
@rnjudge It looks like you are running the old version of the SPDX tools which does not support JSON.

Download the new version from https://bintray.com/spdx/spdx-tools/download_file?file_path=org%2Fspdx%2Ftools-java%2F0.0.4%2Ftools-java-0.0.4-jar-with-dependencies.jar

[2021-01-10 20:18] rnjudge commented on #3
Thanks Gary! Now when I try to `Verify` with both the example JSON document from the SPDX website and my own document I get the following, even though they both have a `documentNamespace` field present.

[code]

[2021-01-10 23:27] goneall commented on #3
@rnjudge I just tried the latest version of verify with https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXJSONExample-v2.2.spdx.json and it showed no errors.  If you could upload the document causing the problems, I'll take a look.

[2021-01-11 00:28] rnjudge commented on #3
@goneall I also can get the document you shared to validate but the same file on `master` branch does not: https://github.com/spdx/spdx-spec/blob/master/examples/SPDXJSONExample-v2.2.spdx.json

I will try to take a look to see what differs between the two branch versions. If you have time to look, my test file that I am trying to validate is uploaded in my second comment above :) (titled output-sp

[2021-01-11 17:23] rnjudge commented on #3
@goneall the issue with the example document on `master` is the leading `Document` dictionary that encapsulates the rest of the document. i.e.:

[code]

Since I was working off of this example to create JSON documents for Tern, that is also the issue I was having. Would you agree this is worth correcting on master? If so, I can open a PR.

[2021-01-11 19:04] goneall commented on #3
@rnjudge Yes - please go ahead and open a PR for master.  I recall an issue raised on the example where the encapsulating document should be removed.  It was probably fixed in the development/2.2.1 branch but not the Master branch.

[2021-01-13 04:19] rnjudge commented on #3
Hi @goneall One more question for you... I am trying to validate a document and it says:

[code]

Any idea how I know which line number of the file or which part of the document this is referring to? Since my document does not provide any `'licenseConcluded` values for files, I'm unsure which license expression it could be referring to.

[2021-01-13 04:31] goneall commented on #3
@rnjudge Normally, when there is a validation error it reports the name of the file, package or other element it found the error in.  If this is all the information produced, it looks like it isn't providing that information here.

I would like for any `licenseConcluded` or `licenseDeclared` fields which contain an `AND`, `OR`, or `WITH`.  The error indicates a binary operator where only one opera

[2021-01-13 05:32] rnjudge commented on #3
@goneall hmm, no `WITH`, `AND` or `OR` in the document anywhere... any other ideas?

[2021-01-13 05:38] rnjudge commented on #3
Could it be an issue with the `licenseInfoFromFiles`? Should I be using AND instead of a list?

[code]

Another thought was perhaps the `licenseDeclared` license ref having a dash is causing an issue?
[code]

[2021-01-13 05:43] goneall commented on #3
From looking at the above, the issue is the spaces in the license ID's.  For example:

`"GPL 3.0 or later",` -> `"GPL-3.0-or-later"`.

The list is fine, it just needs to be a license expression within the list which is restricted to license ID's and operands.

When the parse sees the space, it is expecting an operand.

[2021-01-13 18:33] rnjudge commented on #3
Thanks Gary! I will replace the spaces with dashes for each license in that list.

[2021-01-13 19:00] rnjudge commented on #3
@goneall I updated the `licenseInfoFromFiles` to the following but am still getting the same `Analysis exception processing SPDX file: Invalid license expression.  Expecting more operands.` error. Any idea how I can get the tool to tell me the line it is complaining about?

[code]

[2021-01-13 19:06] goneall commented on #3
@rnjudge If you want to attach the JSON file, I'll take a look at it later today.

[2021-01-13 19:22] rnjudge commented on #3
Thanks @goneall, I have attached the JSON file.
[scancode.json.txt](https://github.com/spdx/tools-java/files/5810668/scancode.json.txt)

Another thought I had was perhaps I am not listing `licenseInfoInFiles` properly when it does not exist?
[code]
Does that look right to you? or should `NONE` be outside the list?

[2021-01-13 19:40] rnjudge commented on #3
@goneall I think I found the issue... more spaces in the licenses. Will switch here to using the LicenseRef.
[code]

[2021-01-13 19:44] goneall commented on #3
Yes - You should be able to use None here.

I just found the same thing - looks like they are all in the licenseInfoInFiles.

I'm going to create a PR to provide more information in the error message.

[2021-01-14 18:05] rnjudge commented on #3
Closing this issue as it is resolved now. Thanks @goneall for your quick responses and helping to get this resolved.

[2021-01-14 18:05] #3 closed

[2021-01-15 02:59] rnjudge commented on #3
@goneall I apologize, but still have another question about errors I am seeing with no line numbers... I get `Analysis exception processing SPDX file: Could not find enum constants for  property fileTypes` but all of my `fileTypes` look like this (some are SOURCE and some are BINARY, too)
[code]
TEXT/SOURCE/BINARY are all acceptable enum constants according to the spec. What's the issue?

[2021-01-15 04:11] goneall commented on #3
@rnjudge Can you upload the file with the errors?  I'll look into it.

[2021-01-15 04:24] rnjudge commented on #3
@goneall thanks for taking a look.
[scancode.json.txt](https://github.com/spdx/tools-java/files/5818406/scancode.json.txt)

[2021-01-15 16:54] goneall commented on #3
The problem is at line 352,604 (whew!) where there is an empty array of file types:

[code]

BTW - the recent PR to improve the error messages helps a lot to track this down - it produced the following message:
`Analysis exception processing SPDX file: Error parsing JSON field for ID SPDXRef-2f4ca63: Could not find enum constants for  property fileTypes`

I'm waiting on a couple other fixes in pro

[2021-01-15 19:22] rnjudge commented on #3
@goneall thank you for catching that! I agree the improved error message will make a world of difference. I will stop bothering you now ;)

[2021-01-15 20:30] goneall commented on #3
@rnjudge No worries :)  It's been helpful to identify the issues in the error handling.

[2021-01-17 22:54] goneall opened #4 "Release 0.6 Checklist"
- [x] Create release for any dependent libraries which have changed ([Spdx-Java-Library](https://github.com/spdx/Spdx-Java-Library), [spdx-java-jackson-store](https://github.com/spdx/spdx-java-jackson-store), [spdx-java-rdf-store](https://github.com/spdx/spdx-java-rdf-store), [spdx-java-spreadsheet-store](https://github.com/spdx/spdx-java-spreadsheet-store), [spdx-java-tagvalue-store](https://gith

[2021-01-17 23:06] #4 closed

[2021-02-05 19:11] goneall opened #5 "Change deployments from Bintray to Maven Central and Github packages"
Bintray is retiring their service on May 1.  Prior to retirement, we need to start publishing an alternative package storage provider.

Suggest both Maven Central and Github Packages.

This can be automated using Github actions.  See https://docs.github.com/en/actions/guides/publishing-java-packages-with-maven#publishing-packages-to-the-maven-central-repository-and-github-packages

[2021-02-16 22:44] goneall opened #6 "Unexpected behavior comparing SPDX documents with no local LicenseRef text"
When comparing 2 SPDX documents with a LicenseRef containing no text, the comparison of those LicenseRef's is false, but no explanation is given.

We probably do not want them to match since we don't have the text to compare, but we could list them in the Extracted Licenses tab as EMPTY.

[2021-02-18 02:11] goneall opened #7 "Translating an RDF file with a 0BSD license reference fails"
Somehow the RDF ID `0BSD` is getting truncated to `BSD` causing an ID not found error from the RDF store.

[https://github.com/eclipse/sw360/files/5984378/SPDX2_linux-4.18.tar.xz_1535128294-spdx.rdf.zip](https://github.com/eclipse/sw360/files/5984378/SPDX2_linux-4.18.tar.xz_1535128294-spdx.rdf.zip) contains a reference to 0BSD and exhibits the failure.

[2021-02-18 10:34] neubs-bsi opened #8 "Verify should support file extension "yml""
When running `Verify` with a SPDX file that is in the yaml format, but has the file extension `yml` as opposed to `yaml` I get the following error:
`Invalid file name: project.spdx.yml`

This error stems from a check in the verifier [1] where the file extension gets checked against a list of possible file extensions [2], which doesn't contain the extension `yml`
According to the format requirement

[2021-02-19 06:39] goneall commented on #8
@neubs-bsi Agreed - do you mind going ahead and adding a PR with the change?

[2021-02-19 14:11] neubs-bsi commented on #8
Hello @goneall

I would like to contribute, but am currently unable to, since our company internal contribution process for the tools-java project is not finished yet.

The change isn't a big one, so if there's no hurry, I would be happy to contribute once our internal contribution process is finished.

[2021-02-19 15:32] goneall commented on #8
@neubs-bsi No worries - I'll make the change next time I'm in the code for this project.

[2021-02-23 04:31] ek08 commented on #8
@goneall should I make a PR for this?

[2021-02-23 05:05] goneall commented on #8
@ek08 Yes - please make a PR for this.

[2021-03-07 06:57] ek08 opened #10 "jsonMapper is mentioned as a param but not used"
https://github.com/spdx/tools-java/blob/8846a186888ea55e07dc892b276a0537d2f26a21/src/main/java/org/spdx/tools/schema/OwlToJsonSchema.java#L101

For the method toArrayPropertySchema(OntClass ontClass, int min) of https://github.com/spdx/tools-java/tree/master/src/main/java/org/spdx/tools/schema/OwlToJsonSchema.java
https://github.com/spdx/tools-java/blob/8846a186888ea55e07dc892b276a0537d2f26a21/src

[2021-03-07 18:27] goneall commented on #10
Looks like the JavaDoc param should just be removed - @ek08 feel free to submit a PR

[2021-03-08 05:03] ek08 opened #13 "Running SpdxConverterTest.java gives error"
When i run the SpdxConveterTest.java file it gives the error shown below
ERROR StatusLogger No log4j2 configuration file found. Using default configuration: logging only errors to the console. Set system property 'log4j2.debug' to show Log4j2 internal initialization logging.
There is a log4j2.xml file still is not able to get processed

[2021-03-09 00:53] rnjudge commented on #13
I also see this error when I run the Validate test but I am still able to run the tool. So it seems like more of warning and less of an actual error?

[2021-03-09 01:02] rnjudge opened #14 "testCompareDocuments fails during "mvn clean install""
Tern builds the spdx tool from source as a part of its CI tests to make sure Tern continues to produce valid SPDX documents. The `mvn clean install` command is failing as a part of this process. I can reproduce the error in my local environment:

[code]

[2021-03-09 02:20] goneall commented on #13
I've noticed this error as well.  Haven't been able to figure out the cause or solution - any help would be appreciated :)

[2021-03-09 03:19] ek08 commented on #13
Yup it is an warning but whenever you will create a PR the build with maven will fail

[2021-03-09 03:20] goneall commented on #14
I was able to duplicate the error - not sure what caused the regression, but it should be an easy fix.

The issue is if there are more than one DocumentDescribes and the order is different, the compare shows this as different when it should be the same (order should not matter).

e.g. `SPDXRef-File(./package/foo.c), SPDXRef-Package(glibc)` should match `SPDXRef-Package(glibc), SPDXRef-File(./packa

[2021-03-09 03:55] goneall commented on #14
Update - my initial assessment isn't correct - the order doesn't matter in the compare, that is working correctly.

This will take a while to figure out.

Attached is the spreadsheet with the compares.  Everything should match.

What's interesting is that this got introduced when there were no changes to the code itself.  I went back and re-ran the CI for a previously passing PR and it now fails.

[2021-03-09 04:00] goneall commented on #14
I checked out the previous release, and it is also failing with the same error.  Very curious.  We did do a new release of the license list recently which is loaded during the tests.  This is could be the cause of the issue, but it will require some more investigation.

[2021-03-09 04:02] goneall commented on #14
Just tried using an earlier version of the license list - same result.  Same code, same data inputs, different results.  Extremely curious.

[2021-03-09 04:47] goneall commented on #14
Narrowed it down to a change in the License List data published.  The new release includes an additional field `licenseTextHtml` which is not present in some of the other formats.  This is causing the comparison of 2 listed licenses to fail.

This will need to be fixed in the Spdx-Java-Library compare utility and a new version will need to be published before this shows up as fixed.

[2021-03-09 06:18] rnjudge commented on #14
Wow, @goneall! As always, I am impressed and appreciate how fast you got to the bottom of this. Thank you! :)

[2021-03-09 18:24] #14 closed

[2021-03-10 18:39] #13 closed

[2021-04-13 12:18] dineshr93 opened #16 "Fossology rdf file: Error converting: Error converting SPDX file: class org.spdx.library.model.SpdxInvalidTypeExceptionIncompatible type for property licenseInfoInFile: class org.spdx.library.model.license.AnyLicenseInfo"
tools-java-0.0.6-jar-with-dependencies.jar
 https://bintray.com/spdx/spdx-tools/tools-java#files/org%2Fspdx%2Ftools-java%2F0.0.6

Input file with .rdf extension(fossology generated rdf file): [acl-2.2.52-20210326-1035-SPDX.rdf.txt](https://github.com/spdx/tools-java/files/6303592/acl-2.2.52-20210326-1035-SPDX.rdf.txt)  (added txt as git doesnt support rdf file format uploads)

Command:
`D:\spdx-ja

[2021-04-13 12:24] dineshr93 commented on #16
Also I checked verify command on the fossology rdf

[code]

[2021-04-13 17:55] goneall commented on #16
@dineshr93 From the stack trace, the RDF file should have the URI for NOASSERTION be `http://spdx.org/rdf/terms#noassertion` rather than `http://spdx.org/licenses/NOASSERTION`.

I think I recall the old SPDX libraries may have been using the incorrect licenses/NOASSERTION.

We could handle the incorrectly specified license NOASSERTION values in the library, but my preference would be to correct th

[2021-06-15 08:24] NicolasToussaint commented on #5
And now, the link to bintray in the Readme doc points to a a 404: https://bintray.com/spdx/spdx-tools/tools-java

[2021-06-15 16:23] goneall commented on #5
@NicolasToussaint Thanks for pointing this out - completely forgot to update the REAMDE when bintray went away.

I'll create a PR later this week to fix.

[2021-06-18 22:13] goneall commented on #5
Resolve with PR #18 and PR #17

[2021-06-18 22:13] #5 closed

[2021-06-18 22:18] goneall commented on #10
Resolved with PR #11

[2021-06-18 22:18] #10 closed

[2021-06-18 22:19] goneall commented on #8
Resolved with PR #9

[2021-06-18 22:19] #8 closed

[2021-06-25 00:34] goneall opened #20 "Performance Optimization Enhancement for Verification"
One way to speed up the verification algorithm is to cache the results of each element being verified.  It will take up more memory, but save having to re-parse and traverse the graph for elements if they are referenced more than once (e.g. within a relationship).

[2021-07-06 01:24] puerco opened #21 "ExternalDocumentRef with non sha1 checksums do not validate correctly"
When validating a spdx Tag/Value doc with an `ExternalDocumentRef` using a checksum with an algorithm different than sha1, `Verify` will complain that the reference is invalid even when it is well formed and [it is a valid checksum algorithm](https://spdx.github.io/spdx-spec/4-file-information/#44-file-checksum).

Example using ext reference
`DocumentRef-kubernetes-v1.22.0-beta.1 https://k8s.io/sb

[2021-07-06 18:21] goneall commented on #21
@puerco my interpretation of the spec is that the algorithm must be SHA1, although it is a little unclear.  The Checksum for the ExternalDocumentRef refers to [section 4.4](https://spdx.github.io/spdx-spec/4-file-information/#44-file-checksum) which includes the text `4.4.4 Algorithm: SHA1is to be used on the file. Other algorithms that can be provided optionally include SHA224, SHA256, SHA384, SH

[2021-07-06 18:53] puerco commented on #21
Ah yes thank you @goneall ! I see what you mean. I understood that bit as only applying to `Filechecksum:`. Funny enough I stumbled into this when following this example from @swinslow that uses SHA256:

https://github.com/swinslow/spdx-examples/blob/5e898e3afa82592cdd6288a7a8f6464caf6f248f/example5/spdx/example5-bin.spdx#L1-L10

[2021-07-06 21:02] swinslow commented on #21
@puerco Yes -- sorry about that! The examples in https://github.com/swinslow/spdx-examples were done before @goneall and I had discussed this ambiguity in the spec. Based on the discussion at https://github.com/swinslow/cmake-spdx/issues/8 it looks like I need to switch the examples to SHA1 instead of SHA256. I've now filed an issue at https://github.com/swinslow/spdx-examples/issues/31 to track t

[2021-07-06 21:58] goneall commented on #21
Thanks @swinslow

I think a good course for the Java libraries is to leave the check in for Verify, but change it from an error to a warning for the other features of the tool.

For reference, the verify check is at this line: https://github.com/spdx/Spdx-Java-Library/blob/293698c84e5d9390d3c3c91c4a6958245e2fadaf/src/main/java/org/spdx/library/model/ExternalDocumentRef.java#L293

I'll need to rese

[2021-07-10 01:52] goneall commented on #21
The issue is in the spdx-java-tag-value-store - transferring the issue.

[2021-07-13 00:54] goneall commented on #20
I did a some experimentation and found the issue is really spdx/Spdx-Java-Library#40 when using tag/value

If I comment out the check for removing in-use SPDX ID's, the time it take to verify keycloak-13.0.1.zip-too-big goes from 1:42 down to less than 6 seconds on my machine - a 16X improvement in performance.

[2021-07-13 00:58] goneall commented on #20
@puerco - Can you point me to one of the output files for Kubernetes referenced in your [tweet](https://twitter.com/puerco/status/1413040222531559425)?  - I'll verify it is the same issue.

I suspect the issue is related to the tag/value format - it may not occur in JSON format, but I'm not certain.

[2021-07-13 01:25] puerco commented on #20
Yes glad to! Here is a copy of one of them:
[kubernetes-source.spdx.gz](https://github.com/spdx/tools-java/files/6805269/kubernetes-source.spdx.gz)

This file is almost the same as the Kubernetes v.1.22.0-beta.2  SBOM we will generate tomorrow.

[2021-07-13 01:25] puerco commented on #20
BTW, I think I found an interesting fact that perhaps will be useful:

When I run the verification with `tools-java-1.0.1-jar-with-dependencies.jar` it takes 12m12.034s to complete.

On another computer, I had a copy of the deprecated `spdx-tools-2.2.5-jar-with-dependencies.jar` version. This one runs much much faster. It takes 2m19.739s  to process the file.

I hope that helps and let me know if

[2021-07-13 12:28] goneall commented on #20
Thanks @puerco  - This is almost certainly related to the delete performance issue referenced above.  I'll do some analysis and see if I can come up with a fix.

[2021-07-13 16:48] goneall commented on #20
I just finished running some experiments with 3 scenarios:
- Baseline: Current version of the SPDX tools
- No in use: Remove in use check on delete (hack to work around the delete performance problem)
- No in use + no related element: In addition to working around the in use check performance problem, don't verify the related SPDX element (works around the performance issue this issue covers)

Her

[2021-07-13 21:19] goneall commented on #20
I just created https://github.com/spdx/Spdx-Java-Library/pull/56 which resolves the delete performance issue.

The kubernetes-source.spdx now validates in 109 seconds, more than a 10X improvement.

[2021-07-14 03:26] goneall commented on #20
Moving this issue to the Spdx Java Library

[2021-07-15 02:24] goneall commented on #16
Closing this issue as it seems to be an issue with the old library and the software that generated the SPDX file

[2021-07-15 02:24] #16 closed

[2021-08-16 11:36] blaemmle opened #23 "CONTRIBUTING.md is missing"
Hello,
in the README is a CONTRIBUTING.md mentioned, which is missing.
Could you please provide one?
Thanks!

[2021-08-16 17:43] goneall commented on #23
@blaemmle Thanks for pointing this out!

I just added a CONTRIBUTING.md - let me know if you see any other issues.

[2021-08-16 17:43] #23 closed

[2021-08-31 22:55] goneall commented on #7
This issue can no longer be duplicated.  It was likely resolved - possibly by https://github.com/spdx/spdx-java-rdf-store/pull/7.

The referenced RDF file was successfully verified after making he following changes:
- Remove second licenseConcluded from SPDXRef-upload5 (only one reference is allowed)
- Replace "http://spdx.org/licenses/NOASSERTION" with "http://spdx.org/rdf/terms#noassertion"

[2021-08-31 22:55] #7 closed

[2021-08-31 23:04] goneall commented on #6
Attaching a test file with an empty license text and the resultant compare xlsx spreadsheet when comparing to itself.
[SPDXTagExample-v2.2-no-text1.spdx.txt](https://github.com/spdx/tools-java/files/7087187/SPDXTagExample-v2.2-no-text1.spdx.txt)
[result.xlsx](https://github.com/spdx/tools-java/files/7087188/result.xlsx)

[2021-08-31 23:05] goneall commented on #6
I'm going to leave this open for not - not sure if we should match empty text or not.

Note that the Verification tab does show that there is missing required license text.

[2021-08-31 23:05] goneall commented on #6
Moving this issue to the Spdx-Java-Library since the fix (if we decide this is a bug) would be in the license compare code in the library.

[2021-09-20 01:20] goneall opened #29 "OLW to JSON Context generates singular properties for list only properties"
When generating a JSON context, a singular and plural property is generated for every list type even if there are only list types used.

This is the root cause of issue https://github.com/spdx/spdx-java-jackson-store/issues/21

[2021-09-20 15:01] goneall opened #31 "Sort output for OWL to JSON Schema and OWL to JSON Context"
As pointed out in https://github.com/spdx/spdx-spec/pull/573#issuecomment-922665378, the non-deterministic order makes it difficult to review changes in the the context and schema files.

[2021-09-20 15:09] goneall commented on #31
Found [this article](https://cowtowncoder.medium.com/jackson-tips-sorting-json-using-jsonnode-ce4476e37aee) on sorting JSON nodes in Jackson that may help.

[2021-09-22 15:15] goneall commented on #31
Sorting by property name has the annoying side effect of pushing down the namespace definitions making it difficult to read.

Without sorting, the order of the JSON is the order it was inserted.  A different, better approach would be to sort the fields before insertion leaving the namespace definitions at the top.

[2021-09-22 16:41] goneall commented on #31
Resolved with PR #32

[2021-09-22 16:41] #31 closed

[2021-10-02 04:02] riyenas0925 opened #33 "README.md convert example needs to be updated"
Hello
First of all, thank you for making a good tool.

* java-tools supports conversion to json and yaml, but it is not shown in README.md
* In the spdx format converters section of the readme.md file, we checked that the example was different from the actual one.
  AS-IS : `java -jar spdx-tools-jar-with-dependencies.jar TagToRDF Examples/SPDXTagExample.tag TagToRDF.rdf`
  TO-BE : `java -jar spdx-

[2021-10-02 04:16] goneall commented on #33
@riyenas0925 - Good catch on the documentation.

Yes - please go ahead and submit a PR.

Thanks!

[2021-10-02 04:55] riyenas0925 commented on #33
Dear @goneall
pr requested :smile:
please let me know if there is anything I need to change

[2021-10-02 16:17] goneall opened #35 "Sonar fails when merging some pull requests"
The following error occurred when merging PR #34

[code]

[2021-10-02 16:18] #33 closed

[2021-10-21 19:50] rnjudge opened #36 "The tool is validating invalid SPDX documents"
While generating spdx json documents from Tern, @maxhbr found a bug in the Tern SPDX JSON document that was not caught by the latest `tools-java-1.0.2-jar-with-dependencies.jar` release. He found the bug using jsonschema validation.

[code]

Specifically missed errors in the document (more details [here](https://github.com/tern-tools/tern/issues/1064)):
- `creators` is a string and not an array
-

[2021-10-21 22:43] goneall commented on #36
Thanks @rnjudge for raising this issue.

Can you attach a JSON file which should have failed?

I was just working on some other validation related issues and it would be an ideal time to address these as well.

[2021-10-22 04:29] maxhbr commented on #36
I have uploaded the JSON file generated with tern: [tern.spdx.json.gz](https://github.com/spdx/tools-java/files/7394261/tern.spdx.json.gz)

[2021-11-05 05:33] riyenas0925 opened #38 "Download Location regex error"
### Describe the bug
If the download location is http://www.google.com, error when converting SPDX.

[code]

### SPDX Download location Specification
IMHO, the spec doesn't seem to say that a trailing slash is mandatory.
* https://spdx.github.io/spdx-spec/package-information/#771-description
[code]

### download location regular expression
This is the download location regular expression currently

[2021-11-05 15:48] goneall commented on #38
@riyenas0925 I tend to agree with your assessment.

Would you like to create a PR to fix this or paste a corrected regex in this issue?

[2021-11-05 16:54] riyenas0925 commented on #38
I will make a pr and contribute. 😄

[2021-11-06 03:24] riyenas0925 commented on #38
@goneall
I finished pr :smile_cat:
If the issue becomes merge, when will it be released?

[2021-11-06 17:56] #38 closed

[2021-11-06 18:16] goneall commented on #38
I was planning a new release of the tools-java within the next week or two - before the next release of the SPDX license list.

[2021-11-07 17:33] goneall commented on #36
Resolved with PR #37

[2021-11-07 17:33] #36 closed

[2021-11-11 22:20] maxbrito500 opened #41 "Creating a new SPDX from Java"
Hello,

On the previous code version was possible to call "SPDXDocument" and create a new SPDX doc from scratch.

On the current releases this class is no longer present, I'm only seeing code for directly converting from one format to another but without any mechanism to create them from scratch.

Is this correct and intentional? If not, how would go about to create a new package and fill it up wi

[2021-11-12 04:52] goneall commented on #41
@maxbrito500 The interface for creating documents has changed from the [SPDX tools](https://github.com/spdx/tools) version, but it is still supported.

Most of the interfaces are in the [SPDX Java Library](https://github.com/spdx/Spdx-Java-Library).

The closest interface to SPDXDocument is the [SpdxModelFactory.createSpdxDocument](https://github.com/spdx/Spdx-Java-Library/blob/a6c7b0af281819b1d0c

[2021-11-15 08:48] maxbrito500 commented on #41
Hello Gary, thank you for the detailed explanation.

I've went throught the mentioned classes, installed the packages and started to use the code. Unfortunately the code base is confusing and over-complicated. Despite almost 20 years of programming, 12 of those in Java I'm still not understanding why such a complicated implementation.

Getting the package builder to create the initial document had

[2021-11-15 17:31] goneall commented on #41
@maxbrito500 Sorry to hear you are finding it this difficult to get started.

This could definitely use better documentation.  I would propose adding an examples folder with a few use cases implemented and a "getting started" section in the README file.

I'll add a `CreatingSpdxDocument.java` file in a separate PR.

[2021-11-16 00:57] goneall commented on #41
@maxbrito500 I added an example in PR #42

Please review and let me know if this is what you are looking for.

If you see an opportunity to improve the documentation, feel free to create a PR against the addexample branch.

[2021-11-16 09:24] maxbrito500 commented on #41
Gary, thank you for the quick reaction.

That example file made a huge difference. Well explained on each step, and working right out of the box.

Truly appreciated, thanks.

[2021-11-17 07:41] goneall commented on #41
@maxbrito500 Glad to hear the examples helped.

I've merged in the PR and I'll close this issue as resolved.

If you see any other opportunity for better documentation or other issues, please feel free to created another issue or pull request.

[2021-11-17 07:41] #41 closed

[2021-11-25 08:44] shi9qiu opened #43 "[Question] About the error message "ERROR StatusLogger No log4j2 configuration file found""
When I try to use this library to convert the format of the SPDX file, I get the following error message:

`ERROR StatusLogger No log4j2 configuration file found. Using default configuration: logging only errors to the console. Set system property 'log4j2.debug' to show Log4j2 internal initialization logging.`

I wonder does anyone know the reason or see the same message?

The command I executed i

[2021-11-25 17:15] goneall commented on #43
I also get this message on every run.  I think you can safely ignore it.

It would be nice to get rid of the message, however.  Let me know if you have any ideas on the cause or resolution.

[2021-11-26 02:45] shi9qiu commented on #43
It would be nice to get rid of the message, however. Let me know if you have any ideas on the cause or resolution.

Thank you for your response! I will share if I find out something new about this error message.

[2021-11-26 02:45] #43 closed

[2021-11-26 11:59] seabass-labrax opened #44 "SPDX RDF download error in 1.0.3"
There's a recent pull request on the FOSSLight repository to downgrade the version of tools-java used: <https://github.com/fosslight/fosslight/pull/293>. It is something to do with the RDF serialisation; I'll post more details as I find them!

[2021-11-26 16:20] goneall commented on #44
There were a lot of "fixes" in the latest release, so it is quite possible there is a regression.

Let me know what you find and I'll investigate.

[2021-11-28 12:17] riyenas0925 commented on #44
@goneall @seabass-labrax
I checked the error below. After searching, it seems that the error occurs when using java 1.8.

Is there a minimum Java version specified for using java-tools?

### error
[code]

### stack trace
[code]

[2021-11-28 16:23] goneall commented on #44
It looks like [this PR](https://github.com/spdx/spdx-java-rdf-store/pull/21) created a minimum Java version of Java 11 based on the [release notes](https://jena.apache.org/download/).

Since the above referenced PR resolves a security vulnerability, we're probably stuck with the higher minimum Java.

Since this only affects the RDF library, you could do a custom build of the SPDX tools and replace

[2021-11-29 02:05] riyenas0925 commented on #44
Thanks for your comments. :)

[2021-11-30 13:16] riyenas0925 commented on #44
As a result of the meeting, we decided to solve the problem by changing the java version of fosslight to 11.
Please close the issue as it is not a problem with tools-java 😄

[2021-11-30 13:23] riyenas0925 commented on #44
@goneall
Are there any requirements or preparations to register fosslight in "open source tools" at https://spdx.dev/?

![image](https://user-images.githubusercontent.com/32615702/144055040-92caeb94-15a7-44fc-9aad-3929c11e25ba.png)

[2021-11-30 21:47] goneall commented on #44
@riyenas0925 The only requirements is that the tool support for either consuming or producing SPDX documents (preferably both).

You can add the tool information here: https://docs.google.com/document/d/1A1jFIYihB-IyT0gv7E_KoSjLbwNGmu_wOXBs6siemXA/edit

Once it's updated let @kestewart and/or @jmanbeck know - they have access to the website and can update the page.

[2021-11-30 21:48] goneall commented on #44
Closing the issue as resolved with the additional release notes

[2021-11-30 21:48] #44 closed

[2022-01-20 01:49] nam-np opened #48 "Is there any function for get all SpdxPackage?"
I used function `deserializeDocument` for creating `SpdxDocument` from RDF file.
https://github.com/spdx/tools-java/blob/d9c128f0d8fea4c1710893ed662a3b64080998c7/src/main/java/org/spdx/tools/SpdxToolsHelper.java#L144
 And now I want to get all SpdxPackage similar with function `findAllPackages` in **tools** library:
https://github.com/spdx/tools/blob/d5c23fd9fe47f6732239764204f27d1edae6eb94/src/or

[2022-01-20 05:36] goneall commented on #48
You can call [getElements](https://github.com/spdx/Spdx-Java-Library/blob/a22ea13c3356b68151146b87be843a2b741bce57/src/main/java/org/spdx/library/model/SpdxModelFactory.java#L245) passing in the `SpdxPackage.class` as the spdxClass.  It will return a Java stream of SpdxPackages.

You can find an example in [CommonCode.java](https://github.com/spdx/spdx-java-tagvalue-store/blob/5c7435d88bfdbcbfa22d

[2022-03-02 13:49] Jeeppler opened #52 "Checksum for release artifacts"
## Short Description

Please provide a checksum for the release artifacts.

## **Describe the Update**

Provide a checksum of the release artifacts.

## **How This Feature will help you/your organization**

It allows one to confirm the integrity of the downloaded file. A simple checksum does not provide authenticity, but at least let's one verify the integrity.

## **Possible Solution/Implementati

[2022-04-08 17:17] goneall commented on #52
Added a sha256 checksum per suggestion above

[2022-04-08 17:17] #52 closed

[2022-04-09 14:19] Jeeppler commented on #52
@goneall thank you.

[2022-04-20 20:44] goneall opened #57 "JSON Schema Generation missing required properties for arrays"
The JSON Schema generator adds a minimum number of elements requirements but does not add the property to the list of required properties for an object.

This is the root cause of https://github.com/spdx/spdx-spec/pull/660

[2022-05-03 09:15] sschuberth opened #59 "Convert throws "I/O error opening Json TOC URL""
When trying to convert a tag-value document to YAML I get

[code]

Can this by due to the system proxy not being support? If so, would it maybe make sense to add proxy support e.g. via https://github.com/MarkusBernhardt/proxy-vole?

[2022-05-03 15:19] goneall commented on #59
Transferring the issue to the SPDX library.

[2022-05-20 17:19] goneall opened #60 "Support .ods format for spreadsheets"
The translation utilities currently support `.xls` and `.xlsx` but does not support the ISO/IEC 26300 OpenDocument `.ods` format.

[2022-06-08 08:55] chris-no1 opened #61 "Converting Tag file to RDF exception: NoSuchMethodError"
I am getting an exception `NoSuchMethodError` when to convert a tag file to an RDF file by using the `TagToRDF` class by the `convertTagFileToRdf` function..

I am using the test file _tools-java/testResources/SPDXTagExample-v2.2.spdx_ from the Github repo. Loading the tag example file works fine and logging the annotations from the file by using the `SpdxElement` and `Annotation` classes. The exc

[2022-06-08 08:57] chris-no1 commented on #61
I can try to solve it, but haven't forked and built `/tool-java` yet.

[2022-06-10 08:23] chris-no1 commented on #61
Tanks Gary.

Is the `pdx-tools` included in the java-tools for backward compatibility or does it has other purposes?

[2022-06-10 16:26] goneall commented on #61
Just for compatibility as far as I know

[2022-06-23 16:32] Jeeppler opened #62 "Merging two reports together"
Is this tool able to merge to reports together. For example, `Report-A.spdx and `Report-B.spdx`?

[2022-06-23 21:22] goneall commented on #62
@Jeeppler Not currently.  It wouldn't be too difficult to create the feature, but I probably won't have time to work on it until after the SPDX 2.3 release changes are complete.

If you and Java experience and want to contribute changes to support this functionality, I can give you some pointers to get you started.

[2022-06-28 17:02] #57 closed

[2022-06-29 06:28] goneall commented on #61
Closing this issue as resolved.

[2022-06-29 06:28] #61 closed

[2022-06-29 06:28] goneall commented on #48
Close this issue as resolved.

[2022-06-29 06:28] #48 closed

[2022-06-29 06:30] goneall commented on #35
In reviewing the Github actions, it looks like this has been resolved.

[2022-06-29 06:30] #35 closed

[2022-08-09 04:07] spatil00 commented on #62
I am not sure how it will work. If you have two SBoM from different components , each will have their own headers ( Document Creation section in SPDX specification) , I am not sure if SPDX specification gives options to keep headers for two components ?

[2022-08-09 05:08] goneall commented on #62
@spatil00 I was thinking you could create a new SPDX document with it's own document creation section but include relationships from the new documents to the old documents.  You could create External Document References for the 2 original docs.  A relationship type `DESCENDANT_OF` and/or `AMENDS` could be used to describe the new SPDX document is derived from the 2 original documents.  A relations

[2022-08-26 17:16] puerco opened #64 "SPDX 2.2 JSON documents are validated using the 2.3 schema"
It seems the verification code is using the 2.3 (or maybe just the latest?) json schema to validate documents regardless of the version in them. I noticed this while adjusting changes in the external references when migrating some tools to 2.3.

As an example, a 2.2 document using the [2.3 category label `PACKAGE-MANAGER`](https://github.com/spdx/spdx-spec/blob/master/schemas/spdx-schema.json#L325

[2022-08-26 17:16] puerco opened #74 "SPDX 2.2 JSON documents are validated using the 2.3 schema"
It seems the verification code is using the 2.3 (or maybe just the latest?) json schema to validate documents regardless of the version in them. I noticed this while adjusting changes in the external references when migrating some tools to 2.3.

As an example, a 2.2 document using the [2.3 category label `PACKAGE-MANAGER`](https://github.com/spdx/spdx-spec/blob/master/schemas/spdx-schema.json#L325

[2022-08-27 02:24] goneall commented on #64
@puerco - Thanks for pointing this out.  You are correct, it is only using the latest schema for validation.  Although there is code within the underlying Java library to look for differences between 2.2 and 2.3 when validating, the JSON schema validation is done in a different library - spdx-jackson-store.

I'll move this issue over to that repo to use version specific schemas when validating.

[2022-09-09 12:02] armintaenzertng opened #65 "Update README.md to account for new file names and structure"
The current java execution examples do not match the names of the jar and the repository folders anymore.

[2022-09-09 14:36] nicoweidner opened #67 "Compare tool removes common part of filename"
This behavior may be intended (if so, ignore...), but I was pretty confused by it when trying out the tools, so I wanted to bring it up anyway.

I ran the following command to compare two of the example documents:
[code]
In the resulting spreadsheet, the two names were shown as `2.spdx.json` and `3.spdx.json`; the common part in the beginning was most likely trimmed by the [normalizeDocNames](http

[2022-09-09 14:42] nicoweidner opened #68 "Compare tool shows diff when fields are identical"
I executed
[code]

The resulting spreadsheet shows quite a few diffs even though the corresponding properties are identical. Not sure what the most efficient way of showing that is, so I'll attach two screenshots

![Screenshot from 2022-09-09 16-40-19](https://user-images.githubusercontent.com/66428403/189376483-a39a673e-9bbe-4fd3-8415-54666d522fcd.png)
![Screenshot from 2022-09-09 16-41-06](https

[2022-09-09 14:47] nicoweidner opened #69 "Compare tool lists package in multiple files if it is present in only one"
As part of some experiments, I compared two JSON files:
[code]
In order to understand the output better, I tried to remove a package from either of the files and check what changed in the output. I removed this section from either of the two json files:
[code]
The observed result was:
- The output was unchanged if the package was removed from only one of the two input files. The package `SPDXRef-f

[2022-09-09 18:09] #65 closed

[2022-09-09 18:13] goneall commented on #67
@nicoweidner - It's been a while, but I don't think this is intentional.  It would be better to just remove the common portions of the path before the filename.

[2022-09-09 18:15] goneall commented on #68
@nicoweidner - Can you upload the 2 files you used to compare?  I'll take a look.

[2022-09-09 18:16] goneall commented on #69
@nicoweidner Thanks for the analysis - definitely sounds like a bug.

[2022-09-09 20:51] nicoweidner commented on #68
I used these two files which are included in the repo - I should probably have made that more clear, sorry about that (the above command was executed in the `target` directory after building the tools, should have kept that part of the path):
- https://github.com/spdx/tools-java/blob/master/testResources/SPDXJSONExample-v2.2.spdx.json
- https://github.com/spdx/tools-java/blob/master/testResources/

[2022-09-13 16:24] goneall commented on #68
Turns out there are differences in the files, but there are other issues masking what the issues are.

For the difference in licenses, there seems to be an encoding issue in SPDXJSONExample-v2.2.spdx.json file which is causing a missmatch of the LicenseRef2 which in turn causes a missmatch of any expression which uses that reference.

For the other differences, the two SPDX document have the same

[2022-09-13 16:27] goneall commented on #69
@nicoweidner This is likely due to the duplicate namespaces in the two compare documents.  If you could change one of the namespaces and see if it displays correctly.

PR #70 adds a check to fail any compare with duplicate namespace.

[2022-09-19 09:03] armintaenzertng opened #71 "Duplicate documentDescribes when converting from tag to xml"
I convert the following `tag_example.tag` file to xml:
[code]
using the command
`java -jar tools-java-1.1.0-jar-with-dependencies.jar Convert tag_example.tag xml_example.xml`

The resulting `xml_example.xml` file contains the following lines:
[code]

i.e. the first DESCRIBE relationship is doubled. Further experimentation shows that for every new DESCRIBES relationship in the tag file the previous

[2022-09-19 09:23] nicoweidner commented on #69
That does indeed resolve it, thanks for looking into this!

The created spreadsheet now shows `[No Package]` in the column where the package was removed - with one exception: the line `Attributions` is empty. Doesn't seem that important, though.

[2022-09-19 09:48] nicoweidner commented on #68
Thanks for looking into this! After modifying the namespace, the real (and different) values do show up in the packages list.

[2022-09-19 17:56] raleigh04 opened #72 "NumberFormatException when parsing SPDXID larger than MaxInt"
When faced with with an SPDXID larger than java's max int, tools-java throws a NumberFormatException:

Example:

   `"SPDXID": "SPDXRef-6996049013223528",`

   Throws:

   `Error converting: Error converting SPDX file: class java.lang.NumberFormatException For input string: "6996049013223528"`

[2022-09-19 18:53] goneall commented on #72
@raleigh04 Could you provide the stack trace for the error and/or an SPDX file that duplicates the problem?

[2022-09-20 22:29] raleigh04 commented on #72
The jar doesn't output a trace, just that error message.

[platform-internal.json.zip](https://github.com/spdx/tools-java/files/9611603/platform-internal.json.zip)

[2022-09-21 06:08] goneall commented on #72
Thanks @raleigh04 for the additional info.  The error is occurring the Spdx-Java-Library:

https://github.com/spdx/Spdx-Java-Library/blob/c8a0e16181e9501b3a9bbe30581eec3248b36136/src/main/java/org/spdx/storage/simple/InMemSpdxStore.java#L177

It looks like a bit of a design flaw in using an integer for generating new SPDX ID's. To make sure generated ID's are unique, the library sets the next inte

[2022-09-21 06:08] goneall commented on #72
Transferring this issue to the SPDX java library

[2022-09-26 16:32] goneall commented on #71
I just checked and the same problem shows up when converting to JSON format.

I suspect the tag/value parser is adding the extra describes.

[2022-09-27 13:43] #71 closed

[2022-09-28 13:12] pombredanne opened #73 "Valid JSON document reported as invalid because exception text cannot be found"
Using v1.1.0 with openjdk 19 2022-09-20 on Linux x64, the attached document fails to validate even though it contains the proper text for the exception as a LicenseRef
[code]

[qt_core_5.4.1.spdx.json.txt](https://github.com/spdx/tools-java/files/9665255/qt_core_5.4.1.spdx.json.txt)

@tdruez ping

[2022-09-30 12:40] pombredanne commented on #73
@goneall Thanks!

[2022-10-01 00:52] goneall commented on #73
@pombredanne In looking at the attached JSON file, it looks like one of the `hasExtractedLicensingInfos` is being used for the exception.

This is not supported in the spec or in the library.

There was a comment in a LicenseListXML issue suggesting we support this: https://github.com/spdx/license-list-XML/issues/1022#issuecomment-1212219849 - however, it has not been adopted.

I recall when we fi

[2022-10-01 10:08] pombredanne commented on #73
That's rather unfortunate as we are tracking over 100 exceptions in ScanCode and DejaCode that do not exist in the SPDX list. I guess that if we move to namespacing this would become a non-issue?

Using "ExceptionRef" instead of "LicenseRef" would not have been a good implementation anyway as IMHO exception and licenses should not use different field names as this makes any support for exception m

[2022-10-01 16:57] goneall commented on #73
@pombredanne

I believe namespacing would solve it since the same rules for listed licenses should apply to namespaced licenses.

Good point.  Although, in my use of the libraries it is important to distinguish between text used as exceptions and text used as the primary license language (for validation).  This would require some way of distinguishing between the two independent of it's use in the

[2022-10-02 21:20] goneall commented on #74
Resolved with #75

[2022-10-02 21:20] #74 closed

[2022-10-03 21:58] #67 closed

[2022-10-03 21:58] #68 closed

[2022-10-03 21:58] #69 closed

[2022-10-03 22:02] goneall commented on #73
The bad error message is resolved with [SPDX Java Library PR #123](https://github.com/spdx/Spdx-Java-Library/pull/123)

Closing this issue.  We could open a separate issue against the spec for the WITH operator to support License/Exception ref's.

[2022-10-03 22:02] #73 closed

[2022-10-07 02:56] goneall commented on #60
I looked into libraries for ODS - Apache POI doesn't support ODS.  There are other libraries, but they have very different API's.  This leads to a conclusion that this would be a very significant amount of work to support.  I'll move this to "won't fix" - but if there are any contributors who would like to take this on, I can remove the label.

One library to check out which looks active: https://

[2022-10-12 10:50] nicoweidner opened #80 "SpdxConverter changes referenceType of external references"
I wrote some test utilities around converting spdx documents between formats and noticed some weird behavior:
- I used the examples from https://github.com/spdx/spdx-spec/tree/development/v2.3.1/examples
- The `.xml`, `.yaml` and `.rdf.xml` examples contain a long version of a purl referenceType of an externalRef, e.g.
[code]
- When converting one of these files to `.xls`, `.xlsx` or `.spdx`, this

[2022-10-12 17:29] goneall commented on #80
@nicoweidner Definitely some issue(s) here.

Since the purl reference type is "pre-defined" in the spec, I think it is OK for the spreadsheet and tag/value to have the short form.  I would expect XML, YAML, and JSON would also have the short form, however. The long form above also looks incorrect, the referenceType should be `http://spdx.org/rdf/references/purl`.  If you convert from a document wh

[2022-10-13 10:49] armintaenzertng opened #81 "Multiple DESCRIBES relationships are not validated consistently"
Not sure whether this is a tools-java or spdx-java-library issue. I generate a document using the following method:
[code]
Note the `assert` statement that indicates that the generated `document` is valid.
The above yields the following output in `temp.xml`:
[code]
But now, when I call
[code]
I get the following error:
[code]
Thus, the tools-java and spdx-java-library Verify methods seem to contra

[2022-10-13 11:41] nicoweidner commented on #80
Hm... I can't tell which root causes are at play here now :sweat_smile:

From what you said, I conclude that something is wrong with the examples, specifically referenceType in [the rdf.xml example](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/examples/SPDXRdfExample-v2.3.spdx.rdf.xml#L1525), [the xml example](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/examples/SPDXXMLE

[2022-10-13 18:44] goneall commented on #80
@nicoweidner Thanks for the additional research.  I believe most of this is expected behavior.

I went back and looked at the above referenced spreadsheet store and tag value store code and the shortening of the types are correct in that we always remove any URI prefixes for the document namespace when converting from RDF - this would include the `referenceType`.

The examples are clearly incorrec

[2022-10-14 00:28] goneall commented on #81
@armintaenzertng I was able to duplicates this with a unit test.  From trying out various scenarios, it looks like this only occurs in the XML form and only if you add a duplicate document describes through a new relationship rather than adding it to the describes collection.

I'll transfer this to the spdx-java-jackson-store which implements the XML format.

I suspect the issue is related to a de

[2022-10-14 00:30] goneall commented on #81
There was a discussion on this in the SPDX spec repo and it was decided that the tag/value, JSON, and YAML formats will use the describes tag even though the the relationship already exists.  The actual SPDX Model uses relationships for the `hasFiles` and `documentDescribes` property implementation.  These tags are just added as a convenience for the serialization and desearlization in these forma

[2022-10-17 07:41] nicoweidner commented on #80
@goneall Thanks for the detailed explanation! I agree that it looks like only some examples were wrong. It's unfortunate that such details are so hard (or in some cases impossible) to learn from just the spec.

I'll close this, since there is not actually an issue with the java tools.

[2022-10-17 07:41] #80 closed

[2022-10-26 12:29] armintaenzertng opened #83 "Provide file name in `InvalidFileNameException`"
Currently, `InvalidFileNameException` is thrown without indication on which file it was thrown on. As we plan to read in an arbitrary number of spdx files, it would be helpful if the error provided the faulty file name.

[2022-10-27 23:14] gitgitwhat opened #84 "Doesn't even work with provided examples"
This tool, and even the online version, fail with the provided SPDX samples found here(https://github.com/spdx/tools-python/tree/main/data).

Trying to verify the RDX example using this command `java -jar tools-java-1.1.2-SNAPSHOT-jar-with-dependencies.jar Verify spdx.rdf` causes this error:

[code]

Meanwhile trying to verify the same RDX file online throws this error:

`Cannot invoke "String.equ

[2022-10-28 00:14] goneall commented on #84
Thanks @gitgitwhat for reporting this - especially with all the details.

I wasn't able the first issue on my local machine, but I was able to duplicate the second issue when you ran it for the online tools.

From reading the error on the first issue, it looks like it is an encoding error.  According the spec, the files need to be encoded as UTF-8.  It looks like the file is encoded in some other

[2022-10-28 00:18] goneall commented on #84
I created a [pull request in the SPDX Java RDF store](https://github.com/spdx/spdx-java-rdf-store/pull/39) which should fix issue number 2 mentioned above.

I'm going to transfer this issue back to the Python libraries for issue number one and the additional issues I flagged above.  These appear to be issues with the example files and not issues with the Java tools.

[2022-10-30 18:04] #83 closed

[2022-10-31 18:18] zvr opened #88 "RDF Turtle format generates error"
On v1.1.2, the tools cannot convert to a Turtle formatted file.

[2022-10-31 18:33] goneall commented on #88
@zvr This was likely caused by an update to the Jena libraries in the latest release to resolve a potential security vulnerability.

I was able to duplicate the first error `16:24:26.801 [main] ERROR org.apache.jena.util.JenaXMLInput - Problem setting StAX property - name: "http://javax.xml.xmlconstants/property/accessExternalDTD" - value: "" - error: Unrecognized property 'http://javax.xml.xmlcon

[2022-10-31 18:37] goneall commented on #88
Update - I was able to duplicate both problems when running from the command line.  The second error doesn't happen in the development environment.  Must be something to do with how the jar-with-dependencies is built.

[2022-10-31 18:40] goneall commented on #88
Found this which seems to be related: https://stackoverflow.com/questions/58562397/org-apache-jena-shared-noreaderforlangexception-reader-not-found-nt

[2022-10-31 20:26] goneall opened #90 "Extraneous error message when using RDF files"
When reading or writing RDF files, the following error is logged:

[code]

Note: This issue is split out from issue #88

[2022-10-31 20:28] goneall commented on #90
[Jena ARQ issue 2331](https://issues.apache.org/jira/browse/JENA-2331) describes these symptoms, although it was fixed in Jena 4.6.0.  We are currently using 4.6.1.

In looking at the dependencies, we're pulling in a later version of Jackson Databind to resolve possible security vulnerabilities which is overriding the version of Databind used in Jena.  The error is related to Woodstox which is pul

[2022-10-31 20:29] #88 closed

[2022-11-01 20:29] #90 closed

[2022-11-02 17:13] goneall opened #92 "Schema Generators: change pluralization for licenseInfoInSnippet"
Change from `LicenseInfoInSnippets` to `LicenseInfosInSnippet`.

This will probably require a special check in the pluralization code.

This may also require changes in the spdx-java-jackson-store code.

Initially reported as [issue 804 in the SPDX spec repo](https://github.com/spdx/spdx-spec/issues/804).

[2022-11-10 13:46] stephenkilbaneadi opened #93 "YAML files not verified?"
I'm validating SPDX files produced by Black Duck, which are JSON and (allegedly) SPDX 2.2. When I upload said files to the online validator as JSON file, I get various warnings (the warnings depend on the file contents). If, however, YAML is selected as the upload format, the file supposedly validates okay - even though it's a JSON file, not a YAML file.

[2022-11-11 15:57] goneall commented on #93
@stephenkilbaneadi This is due to the JSON format has an [associated schema file](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/schemas/spdx-schema.json) which can provide additional validation which is likely where the warnings are coming from.

[2022-11-11 15:59] goneall commented on #93
BTW - there is validation for SPDX elements for YAML but this is done after the YAML file is parsed - kind of a logical model validation vs. a file syntax and structure validation that occurs with the schema validation.

[2022-11-11 16:33] pjsnps opened #94 "Version output error?"
See below: doc bug, "1.0.5" should be "1.1.4" or so?

cd dev/hub/spdx/
git clone https://github.com/spdx/tools-java.git
cd tools-java/
less README.md
mvn clean install # failed for missing javadoc executable
vi pom.xml # removed lines with javadoc; there's probably a smarter way...
mvn clean install
java -jar ./target/tools-java-1.1.4-SNAPSHOT-jar-with-dependencies.jar help
#In BLACK DUCKv2022.10.

[2022-11-11 17:36] stephenkilbaneadi commented on #93
I'm not following. If I say I'm uploading a YAML file, but upload a JSON file instead, are you saying it manages to detect that it's a JSON file anyway and parses it okay, but doesn't retrieve the associated schema file, hence no warnings? Whereas if I upload the sam JSON file, but say it's JSON rather than YAML, then the associated schema file is used, hence warnings?

Honestly, I'd just expect a

[2022-11-11 20:12] goneall commented on #93
@stephenkilbaneadi Ahh - Yes - this would be an issue with the tools - I guess I didn't read your description very carefully this morning.

I'll take a look and see if I can find a fix.

[2022-11-13 03:20] goneall commented on #93
I found the source of the issue, but this may be a challenge to fix.

The JSON schema is validated based on the serialization format specified on the verification command: https://github.com/spdx/tools-java/blob/b949e88a2fb900b120f1f915d839dd022c134072/src/main/java/org/spdx/tools/Verify.java#L142

It looks like you can pass a JSON stream to the  [Jackson YAML factory](http://fasterxml.github.io/j

[2022-11-13 04:32] goneall commented on #94
Thanks @pjsnps for pointing this out.

I was updating the version in the library, but apparently not updating the version for the tools on release.

I'll create a PR to fix for this version.

[2022-11-13 04:45] #94 closed

[2022-11-14 08:49] stephenkilbaneadi commented on #93
Or, to put it another way: I opened a bug with Synopsys because their SPDX output was producing warnings when validated; they've argued that this is a problem with the validator because "_look_ no problems if you select YAML as input type..." I _believe_ I should be going back to Synopsys and saying "Yes, there's a problem with the validator, but the problematic case is when the warnings _aren't_

[2022-11-14 16:37] goneall commented on #93
There are 2 types of validations that occur:
1. Full model validation
2. Schema validate

The full model validation (1) is accomplished by examining every property in the SPDX document and checking it against the rules in the spec (e.g. cardinality, format, exclusions).  This is done for all file types.  So, for YAML - yes, it is validated.

The schema validation is only done when the format suppo

[2022-11-14 16:41] goneall commented on #93
Typically the MIME type is determined by the file extension.  We could check for file type `.json` but we would want to somehow cover for the possibility the file really is YAML as the user specified.

One approach I thought about was to read the first couple of lines and see if it "looks like" YAML or JSON.  I though that approach was a bit kludgy and may make the code a bit harder to maintain.

[2022-11-14 16:46] goneall commented on #93
@stephenkilbaneadi I agree with your point of view on this.

You can point the Synopsys team to the [JSON schema in the spec](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/schemas/spdx-schema.json).  You can run an online schema validator (e.g. the [Newtonsoft validator](https://www.jsonschemavalidator.net/)) to see if there are errors in the generated file.  This is a validation compl

[2022-11-20 11:08] strashila commented on #93
@goneall I have validated a number of SPDX SBOMs in Json format, produced by Black Duck in [Newtonsoft validator](https://www.jsonschemavalidator.net/), using the exact  [JSON schema in the spec](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/schemas/spdx-schema.json) you've referenced, and they all were validated successfully. So it does not look like the Json schema produced by BlackD

[2022-11-21 03:35] goneall commented on #93
@strashila Thanks for doing the research on this.  If you could attach an SBOM that shows the validation error, I can look into it a bit further.

[2022-11-21 09:22] strashila commented on #93
@goneall I'm attaching a few test SBOMs, which all validate against the schema. That said, the SBOMs also now validate against the tool https://tools.spdx.org/app/validate/ , which was not the case before. I was able to recreate the issue with BlackDuck SBOM not validating successfully with the tool when File Type is **JSON** a week ago, but can't do it now for some reason, and now the validation

[2022-11-21 13:35] goneall commented on #93
@strashila The online tools were recently updated, so the previous validation errors may have been an issue with the online tools which has been fixed.

[2022-11-21 14:21] strashila commented on #93
@goneall thank you for checking. @stephenkilbaneadi this issue may have been resolved, I successfully verified a number of BlackDuck SPDX json files as JSON File Type with the online tool

[2022-11-22 05:43] goneall commented on #93
@strashila @stephenkilbaneadi - shall we close this issue?

[2022-11-22 13:12] strashila commented on #93
@goneall Ok with me

[2022-11-22 14:51] goneall commented on #93
Closing per the above comments

[2022-11-22 14:51] #93 closed

[2022-11-25 10:29] chris-no1 opened #97 "Option of using SPDX ID URI when converting tag files - Change proposal"
When using the SpdxConverter class (Java API) or the Convert (command line) to convert from SPDX tag file format to RDF the function includes the full licence text which makes the RDF file verbose for further processing.

The proposal is to add an option to function _--excludeLicenseDetails_ to include a URI with a prefix (/licences/) to the licence SPDX-License-Identifier instead insert the full

[2022-11-26 19:01] goneall commented on #97
I would prefer the _--excludeLicenseDetails_ for compatibility reasons.

I'll add a related issue to the [spdx-java-rdf-store](https://github.com/spdx/spdx-java-rdf-store) repo which will be a dependency for this fix.